<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordSafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PasswordSafe.Properties.Settings>
            <setting name="MainFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="MainFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LargerFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="VisibleColumns" serializeAs="String">
                <value>111111</value>
            </setting>
        </PasswordSafe.Properties.Settings>
    </userSettings>
</configuration>